.container-loader {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background: rgba(54, 54, 54, 0.3);
    backdrop-filter: blur(10px);

    z-index: 10;
}

.icon-loader {
    
    position: absolute;
    top: 50%;
    left: 50%;

    width: 70px;
    height: 70px;

    transform: translate(-50%, -50%);
    animation: loading-animation .5s ease-in-out infinite;
}

@keyframes loading-animation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}