.container-authorization {
  position: absolute;
  top: 50%;
  left: 50%;

  max-width: 528px;
  width: 100%;

  padding: 48px 56px;

  border-radius: 16px;
  background: #fff;

  transform: translate(-50%, -50%);
}

.authorization-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: 0.1px;
  color: #363636;
}

.registration-steps {
  margin: 8px 0 0;

  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.1px;
  color: #363636;
}

.container-authorization-info {
  margin: 32px 0 20px;
}

.container-authorization-input {
  position: relative;
}

.authorization-input {
  width: 100%;
  height: 56px;

  padding: 0 0 0 12px;

  background: #f9f9fa;
  border-radius: 4px 4px 0 0;
  border: none;
  outline: none;
}

.authorization-btn-visible-password {
  position: absolute;
  right: 16px;
  top: -3px;

  background: none;
  border: none;

  cursor: pointer;
}

.container-authorization-input + .container-authorization-input .authorization-input {
  margin: 36px 0 0;
}

.container-authorization-link-reset-password {
  margin: 0 0 0 12px;
}

.authorization-link-reset-password {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.2px;
}

.authorization-btn-log-in {
  width: 100%;

  padding: 14px 0;
  margin: 32px 0 0;

  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.2px;
  text-transform: uppercase;
}

.container-authorization-action {
  display: flex;
  align-items: center;

  margin: 16px 0 0;
}

.authorization-input-error {
  position: absolute;
  top: 40px;
  left: 12px;

  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.2px;
  color: #f42c4f;
}

.authorization-authorization-error {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.2px;
  color: #f42c4f;
}
