.container-registration {
  position: absolute;
  top: 50%;
  left: 50%;

  max-width: 528px;
  width: 100%;

  padding: 48px 56px;

  border-radius: 16px;
  background: #fff;

  transform: translate(-50%, -50%);
}

.registration-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: 0.1px;
  color: #363636;
}

.wrapper-registration {
  margin: 32px 0 0;
}

.container-registration-input {
  position: relative;
}

.registration-input {
  width: 100%;
  height: 56px;

  padding: 0 0 0 12px;

  background: #f9f9fa;
  border-radius: 4px 4px 0 0;
  border: none;
  outline: none;
}

.registration-btn-visible-password {
  position: absolute;
  right: 16px;
  top: -3px;

  display: flex;

  background: none;
  border: none;

  cursor: pointer;
}

.icon-checked {
  margin: 0 4px 0 0;

  width: 24px;
  height: 24px;
}

.container-registration-input + .container-registration-input .registration-input {
  margin: 36px 0 0;
}

.registration-btn {
  width: 100%;

  padding: 14px 0;
  margin: 68px 0 0;

  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.2px;
  text-transform: uppercase;
}

.registration-input-error {
  position: absolute;
  top: 40px;
  left: 12px;

  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.2px;
  color: #a7a7a7;
}
