.main-content-empty-sort-result {
    display: flex;
    justify-content: center;

    width: 100%;

    margin: 168px 0 0;

    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    text-align: center;
    letter-spacing: 0.1px;
    color: #A7A7A7;
}