.container-product-hardly {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 190px;
    height: 470px;

    padding: 8px;
    
    background: #FFFFFF;
    
    box-shadow: 0px 2px 4px rgba(191, 196, 201, 0.2), 0px 3px 4px rgba(191, 196, 201, 0.18), 0px 1px 5px rgba(191, 196, 201, 0.24);
    border-radius: 10px;

    cursor: pointer;
}

.container-feedback-product-hardly {
    display: flex;

    margin: 16px 0 0;
}

.wrapper-info-product-hardly {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 89px;

    margin: 16px 0 0;
}

.text-feedback-product-hardly {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.1px;
    color: #A7A7A7;
}

.title-product-hardly {
    display: -webkit-box;
    max-width: 400px;

    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.hightlight {
    color: #FF5253;
}

.author-product-hardly {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.1px;
    color: #727272;
}

.btn-book.hardly {
    padding: 11px 0;
    margin: 0 0 8px;

    cursor: pointer;
}