.container-forgot-pass-btn-back {
  width: 100%;

  padding: 20px 16px;

  background: #f9f9fa;
  border-radius: 16px 16px 0px 0px;
}

.forgot-pass-btn-back {
  display: flex;
  align-items: center;

  border: none;
  background: none;

  cursor: pointer;
}

.forgot-pass-icon-back {
  width: 24px;
  height: 24px;
}

.forgot-pass-text {
  margin: 0 0 0 12px;

  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.2px;
  text-transform: uppercase;
  color: #727272;
}
