.container-product-star-rating {
    display: flex;
    align-items: center;
}

.container-product-star-rating-icon {
    display: flex;
    gap: 6px;
}

.product-rating-number {
    margin: 0 0 0 24px;

    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    color: #363636;
}
