/* product btn */

.primary {
  width: 100%;
  height: 100%;

  background: linear-gradient(231.58deg, #f83600 -53.35%, #f9d423 297.76%);
  border-radius: 30px;
  border: none;

  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.2px;
  text-transform: uppercase;
  color: #ffffff;

  cursor: pointer;
}

.secondary {
  width: 100%;
  height: 100%;

  background: #ffffff;
  border: 1px solid #bfc4c9;
  border-radius: 30px;

  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.2px;
  text-transform: uppercase;
  color: #363636;

  cursor: pointer;
}

.disabled {
  width: 100%;
  height: 100%;

  background: #f9f9fa;

  border: 1px solid #bfc4c9;
  border-radius: 30px;

  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.2px;
  text-transform: uppercase;
  color: #a7a7a7;
}

.secondary:hover {
  border: 1px solid #a7a7a7;

  box-shadow: 0px 2px 5px rgba(54, 54, 54, 0.1);
}

.secondary:active {
  box-shadow: 0px 3px 4px rgba(222, 125, 11, 0.2), 0px 1px 10px rgba(249, 89, 8, 0.2);
}

/* btn search */

.btn-group-active {
  background: linear-gradient(231.58deg, #f83600 -53.35%, #f9d423 297.76%);
}

.btn-group-default {
  background: #ffffff;
}

.btn-group-default:hover {
  filter: drop-shadow(0px 2px 5px rgba(54, 54, 54, 0.1));
}

.btn-group-default:active {
  filter: drop-shadow(0px 3px 4px rgba(222, 125, 11, 0.2)) drop-shadow(0px 1px 10px rgba(249, 89, 8, 0.2));
}
